# Server Configuration
PORT=5000

# Nodemailer Email Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=hildgracenalwanga@gmail.com
SMTP_PASS=your_gmail_app_password_here

# Notification Receiver
ADMIN_EMAIL=hildgracenalwanga@gmail.com

# Payment & Contact Phone Details
MTN_MOMO_NUMBER=0784052908
AIRTEL_MONEY_NUMBER=0759464634